extends base
 
block content
 table
  tr
   td
    a(href="/EC/post/President,_Student's_gymkhana")
     input.btn.btn-primary(value="President, Student's gymkhana")
   td
    a(href="/EC/post/Gerenal_secretary(SNT)")
     input.btn.btn-primary(value="Gerenal secretary(SNT)")
   td
    a(href="/EC/post/Gerenal_secretary(Media_and_Culture)")
     input.btn.btn-primary(value="Gerenal secretary(Media and Culture)")     
   td
    a(href="/EC/post/Gerenal_secretary(GNS)")
     input.btn.btn-primary(value="Gerenal secretary(GNS)")
   td
    a(href="/EC/post/Gerenal_secretary,UG_Academics_and_Career")
     input.btn.btn-primary(value="Gerenal secretary,UG Academics and Career")
  tr
   td
    a(href="Gerenal_secretary,PG_Academics_and_Career")
     input.btn.btn-primary(value="Gerenal secretary,PG Academics and Career")
   td
    a(href=`/EC/post/BT-BS-MT-MS-MBA_Y${new Date().getFullYear()%100-4}`)
     input.btn.btn-primary(value=`BT/BS-MT/MS/MBA Y${new Date().getFullYear()%100-4}`)
   td
    a(href=`/EC/post/BT-BS-MT-MS-MBA_Y${(new Date().getFullYear()%100)-3}`)
     input.btn.btn-primary(value=`BT/BS-MT/MS/MBA Y${(new Date().getFullYear()%100)-3}`)     
   td
    a(href=`/EC/post/BT-BS_Y${(new Date().getFullYear()%100)-3}`)
     input.btn.btn-primary(value=`BT/BS Y${(new Date().getFullYear()%100)-3}`)
   td
    a(href=`/EC/post/BT-BS_Y${(new Date().getFullYear()%100)-2}`)
     input.btn.btn-primary(value=`BT/BS Y${(new Date().getFullYear()%100)-2}`)
  tr
   td
    a(href=`/EC/post/BT-BS_Y${(new Date().getFullYear()%100)-1}`)
     input.btn.btn-primary(value=`BT/BS Y${(new Date().getFullYear()%100)-1}`)
   td
    a(href=`/EC/post/BT-BS_Y${(new Date().getFullYear()%100)}`)
     input.btn.btn-primary(value=`BT/BS Y${(new Date().getFullYear()%100)}`)
   td
    a(href=`/EC/post/MTech_Y${(new Date().getFullYear()%100)-1}`)
     input.btn.btn-primary(value=`MTech Y${(new Date().getFullYear()%100)-1}`)     
   td
    a(href=`/EC/post/MTech_Y${(new Date().getFullYear()%100)}`)
     input.btn.btn-primary(value=`MTech Y${(new Date().getFullYear()%100)}`)
   td
    a(href=`/EC/post/MSc_Y${(new Date().getFullYear()%100)-1}`)
     input.btn.btn-primary(value=`MSc Y${(new Date().getFullYear()%100)-1}`)
  tr
   td
    a(href=`/EC/post/MSc_Y${(new Date().getFullYear()%100)}`)
     input.btn.btn-primary(value=`MSc Y${(new Date().getFullYear()%100)}`)
   td
    a(href="/EC/post/MSR")
     input.btn.btn-primary(value="MSR")
   td
    a(href=`/EC/post/MBA_and_MDes_Y${(new Date().getFullYear()%100)-1}`)
     input.btn.btn-primary(value=`MBA and MDes Y${(new Date().getFullYear()%100)-1}`)     
   td
    a(href=`/EC/post/MBA_and_MDes_Y${(new Date().getFullYear()%100)}`)
     input.btn.btn-primary(value='MBA and MDes Y${(new Date().getFullYear()%100)}')
   td
    a(href=`/EC/post/PHD_Y${(new Date().getFullYear()%100)-2}`)
     input.btn.btn-primary(value=`PHD Y${(new Date().getFullYear()%100)-2}`)
  tr
   td
    a(href=`/EC/post/PHD_Y${(new Date().getFullYear()%100)-1}`)
     input.btn.btn-primary(value=`PHD Y${(new Date().getFullYear()%100)-1}`)
   td
    a(href=`/EC/post/PHD_Y${(new Date().getFullYear()%100)}`)
     input.btn.btn-primary(value=`PHD Y${(new Date().getFullYear()%100)}`)